---
import Wordmark from './Wordmark.astro';
---

<nav class="nav">
  <a href="/" aria-label="72mn home"><Wordmark /></a>
  <div class="nav-r">
    <a href="https://hunch.72mn.com">Hunch · Trader&nbsp;Brain</a>
    <a href="#about">About</a>
    <a href="mailto:hello@72mn.com">Contact</a>
  </div>
</nav>
